<h1>Submit page</h1>
<form action="/submit" method="post">
	<label for="">Title</label>
	<input type="text" name="title">
	<label for="">Isbn</label>
	<input type="text" name="isbn">
	<label for="">Link</label>
	<input type="text" name="link">
	<button>Submit</button>
</form>